@model List<CodingEventsDemo.Models.EventCategory>

<h1>Event Categories</h1>

<table>
    <tr><th>Event Category</th></tr>
    @foreach (EventCategory eventCategory in Model)
    {
        <tr><td>@eventCategory.Name</td></tr>
    }
</table>