@model List<CodingEventsDemo.Models.EventCategory>

<h1>Event Categories</h1>

<table>
    <th>Event Category</th>
    @foreach (EventCategory eventCategory in Model)
    {
        <td>@eventCategory.Name</td>
    }
</table>