<h1>Add Event</h1>

<table>
    <form method="post">
        <tr>
        <div class="form-group">
            <th>
                <label for="name">
                    Name 
                </label>
            </th>
            <td>
                    <input name="name" type="text" />
            </td>
        </div>
        </tr>
        <div class="form-group">
            <th>
                <label for="description">
                    Description 
                </label>
            </th>
            <td>
                <input name="description" />
            </td>
        </div>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Event" />
            </td>
        </tr>
    </form>
</table>
